extends layout

block content
    h1 Your request has been logged.

    p The response won't be immediate, I will have to enter you manually.
    | Please keep an eye out for any new emails from me, as I will need to contact you with information relating to your time table. Thanks.
