body {
    background-image: url(https://i.ytimg.com/vi/lTZ8gQD4vSk/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    position: fixed;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -35%);
    max-width: 960px;
    max-height: 420px;
    background: var(--accent-light);
    box-shadow: 0 0 3px 0 var(--accent-light);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    backdrop-filter: brightness(1.1) blur(8px);
}

form #wrapper {
    max-width: 560px;
    max-height: 38px;

    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%);
    margin-bottom: 25px;
}

form #wrapper > * {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

form input {
    font-size: 11pt;
}
