body {
    color: var(--text);
    background-color: var(--primary);
}

input {
    border: 2px solid var(--accent);
    background: var(--accent-light);
    color: var(--text);
    padding: 8px 12px;
    border-radius: 3px;
    margin: 5px 0;
    transition: 0.1s;
    outline: none;
}

input:focus {
    box-shadow: 0 0 0 3px var(--accent-light);
    outline: none;
}

button:focus {
    filter: brightness(0.85);
    box-shadow: 0 0 0 3px var(--accent-light);
    outline: none;
}

button {
    user-select: none;
    background: var(--accent);
    padding: 8px 20px;
    color: var(--text);
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.1s;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

header button {
    background: var(--primary);
}

header button:focus {
    box-shadow: 0 0 0 3px var(--primary-light);
}

header {
    background: var(--accent);
    box-shadow: 0 0 4px 0 #313241;
}

:root {
    font-family: "Catamaran", sans-serif;
}
