body {
    display: grid;
    grid-template-rows: 1fr 56px;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#logo {
    display: flex;
    align-items: center;
}

#logo > * {
    margin: 0 4px;
}

#container {
    grid-row: 1;
}

#body {
    display: grid;

    height: 100%;
    width: 100%;

    grid-template-rows: 56px 4fr 3fr;
}

footer {
    grid-row: 2;
    line-height: 56px;
    text-align: center;
}

#calculator {
    position: fixed;
    max-width: 800px;
    width: 100vw;
    max-height: 480px;
    height: 100vh;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    top: -480px;
    transition: 0.3s;
}

#calculator.visible {
    top: 50%;
    opacity: 1;
}

#calc-btn *, #day * {
    display: block;
}

#day {
    flex-direction: column;
}

.calculator span.error {
    color: #b22328;
}

#calc-btn, #day {
    display: flex;
    justify-content: center;
    align-items: center;
}
