#viewer {
    color: var(--text);
    font-family: var(--font);
    font-size: 19pt;
}

#day-indicator {
    font: bold 45pt var(--font);
    user-select: none;
    color: var(--text);
}

@media screen and (max-width: 800px) {
    #day-indicator {
        font-size: 36pt;
    }
}

#calculator {
    overflow: hidden;
    background: var(--primary);
    box-shadow: 0 0 3px 0 #313241;
    border-radius: 4px;
}

#calculator header {
    padding: 12px;
    justify-content: space-between;
}

footer {
    color: var(--text);
    font-size: 16pt;
}

.calculator:not(.visible) {
    display: none;
}

#calculator .calculator.visible ~ #open-prompt {
    display: none;
}

.calculator {
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.calculator > * {
    width: 100%;
    box-sizing: border-box;
    color: var(--text);
}

#open-prompt {
    color: var(--text);
    text-align: center;
    position: relative;
    top: 25%;
    transform: translateY(-25%);
    font-family: var(--font);
}

header span {
    color: var(--text);
    font-size: 15pt;
    display: block;
    width: fit-content;
}
